.game-elements{
    text-align:center;
}

.game-element > .thumbnail > a > img {
    width: 100%;
    height: auto;
}

.game-element > .about > p {
    font-size: 1vmax;
}

.game-element {
    width:21%;
    padding: 3px;
    display: inline-block;
    border: thick double #eeeeee;
}