#welcome-logo {
	font-size: 4vmax;
	font-weight: bold;
	margin: 4vmax;
	font-family: "ÉqÉâÉMÉmäpÉS ProN W3", "Hiragino Kaku Gothic ProN", "ÉÅÉCÉäÉI", "Meiryo", "verdana", sans-serif;
}

#welcome p {
	margin: 1vmax;
}

#table-contents {
	text-align: center;
	display: table;
	border-collapse: separate;
	border-spacing: 4vmax 0;
	margin: 4vmax;
}

.contents-button:hover {
	color: #333333;
	background-color: #eeeeeeee;
}

.contents-button {
	color: #eeeeee;
	background-color: #33333399;
	width: 10vmax;
	height: 10vmax;
	border: solid;
	border-radius: 50%;
	vertical-align: middle;
	display: table-cell;
	font-size: 2vmax;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	transition: all 0.3s;
}