#logo-context {
    width: 100%;
    min-height: 30vmax;
}

#logo {
    display: inline-block;
    padding-top: 150px;
    padding-bottom: 150px;
    z-index:2;
}

#logo img {
    width:70vw;
    filter: drop-shadow(0 0 30px black);
    animation: logo-animation 1s ease 0s 1 alternate none running;
}

@keyframes logo-animation {
    0% {
        width:1vw;
    }

    60% {
        width:80vw;
        transform: rotate(380deg);
    }

    100% {
        width:70vw;
        transform: rotate(360deg);
    }
}