#logo-context {
    width: 100%;
    min-height: 30vw;
}

#logo {
    display: inline-block;
    z-index:2;
}

#logo img {
    width:50vw;
    filter: drop-shadow(0 0 30px black);
    animation: logo-animation 1s ease 0s 1 alternate none running;
}

@keyframes logo-animation {
    0% {
        width:1vw;
        opacity:0;
    }

    100% {
        width:50vw;
        opacity:1;
    }
}